@use '../abstracts/'as *;

.page-swap {
    color: black;
    background-color: var(--company-white);

    // mobile 
    @include mobile {
        min-height: auto;
        padding: 20px;

        .selection-flex {
            flex-direction: column;
            gap: 10px;

            .column-full {
                width: 100%;

                input {
                    border-radius: 10px;
                }
            }
        }

        .bottom-section {
            padding-top: 50px;
        }
    }

    .selection-flex:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }

    .custom-container {
        margin: 1% 15%;

        .swap-title {
            color: black;
            margin-bottom: 5px;
            font-size: 50px;
            font-size: 35px;
            font-weight: 400;
            letter-spacing: 0.004em;
            line-height: 1.125;
        }

        .swap-subtitle {
            color: black;
            font-size: 16px;
            font-weight: 200;
            margin-bottom: 40px;
        }

        .swap-description {
            color: black;
            font-size: 16px;
            text-align: justify;
            margin-top: 20px;
        }
    }


    .selection-btn {
        border: 1px solid black;
        // border-left: none;
        border-radius: 0px 10px 10px 0;
        background: var(--company-white);
        font-size: 16px;

        @include mobile {
            border-radius: 10px;
        }
    }

    .selection-input {
        border-radius: 10px 0px 0px 10px;
        background-color: transparent !important;
        border: 1px solid black;
        border-right: none;
        color: black;
        font-size: 16px;

        &::placeholder {
            color: black;
            font-size: 16px;
        }

        &:focus {
            color: black;
            border-color: var(--primary-color);
            box-shadow: 0 0 2px var(--primary-color);
        }
    }

    .title {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        color: black;
    }

    .cursor-not-allowed {
        cursor: not-allowed;
    }

    .customeSwapIcon {
        padding: 13px;
        border-radius: 100%;
        border: 1px solid black;
        cursor: pointer;
        color: black;
        transition: all 0.3s ease;

        &:hover {
            border: 1px solid black;
        }

        &.rotate {
            transform: rotate(180deg);
        }
    }

    .customTooltip {
        --bs-tooltip-bg: var(--bs-danger);
        --bs-tooltip-color: var(--bs-white)
    }
}

.swap-selection-modal .modal-content {
    border-radius: 30px;
    background: white;
}

.dropdown {
    color: black;

    .selection-ul {
        max-height: 150px;
    }

    input,
    input:focus {
        outline: none;
        border: none;
        border-bottom: 1px solid var(--primary-color);
        border-radius: 0;

    }

    input:focus {
        border-color: var(--primary-color);
        box-shadow: none;
    }
}