@use '../abstracts/'as *;

.block-text {
    .sub-heading {
        padding: 7px 14px;
        background: black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 1px solid rgba(92, 92, 92, 0.3607843137);
        backdrop-filter: blur(4px);
        border-radius: 100px;
        font-weight: 300;
        display: inline-block;
        margin-bottom: 22px;

        &.white {
            background: var(--company-white);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border: 1px solid rgb(255 255 255 / 36%);
        }

        span {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }

    .heading {
        margin-bottom: 25px;
        color: var(--company-white);
        line-height: 1.07143;
        font-weight: 600;
        letter-spacing: -.005em;
        text-transform: none;
    }

    .gray-heading {
        color: var(--company-gray);
    }

    .light-heading {
        color: var(--company-light-gray);
    }

    .action-btn {
        span {
            padding: 14px 24px;
        }
    }
}

.pd {
    padding: 0 190px;

    @include tablet {
        padding: 0;
    }
}

.pdb {
    padding: 0 310px;

    @include tablet {
        padding: 0;
    }
}