@font-face {
    font-family: 'icomoon';
    src: url('../assets/fonts/icomoon.eot?dtle9l');
    src: url('../assets/fonts/icomoon.eot?dtle9l#iefix') format('embedded-opentype'),
        url('../assets/fonts/icomoon.ttf?dtle9l') format('truetype'),
        url('../assets/fonts/icomoon.woff?dtle9l') format('woff'),
        url('../assets/fonts/icomoon.svg?dtle9l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-plus1:before {
    content: "\e900";
}

.icon-logo-02:before {
    content: "\e901";
}

.icon-logo-03:before {
    content: "\e902";
}

.icon-logo-04:before {
    content: "\e903";
}

.icon-uniE904:before {
    content: "\e904";
}

.icon-uniE905:before {
    content: "\e905";
}

.icon-uniE906:before {
    content: "\e906";
}

.icon-uniE907:before {
    content: "\e907";
}

.icon-logo-06:before {
    content: "\e908";
}

.icon-logo-01:before {
    content: "\e909";
}

.icon-arrow-top:before {
    content: "\e90a";
}

.icon-arrow-left1:before {
    content: "\e90b";
}

.icon-arrow-right1:before {
    content: "\e90c";
}

.icon-uniE90D:before {
    content: "\e90d";
}

.icon-uniE90E:before {
    content: "\e90e";
}

.icon-uniE90F:before {
    content: "\e90f";
}

.icon-uniE910:before {
    content: "\e910";
}

.icon-uniE911:before {
    content: "\e911";
}

.icon-uniE912:before {
    content: "\e912";
}

.icon-uniE913:before {
    content: "\e913";
}

.icon-uniE914:before {
    content: "\e914";
}

.icon-uniE915:before {
    content: "\e915";
}

.icon-uniE916:before {
    content: "\e916";
}

.icon-uniE917:before {
    content: "\e917";
}

.icon-uniE918:before {
    content: "\e918";
}

.icon-uniE919:before {
    content: "\e919";
}

.icon-uniE91A:before {
    content: "\e91a";
}

.icon-uniE91B:before {
    content: "\e91b";
}

.icon-uniE91C:before {
    content: "\e91c";
}

.icon-uniE91D:before {
    content: "\e91d";
}

.icon-uniE91E:before {
    content: "\e91e";
}

.icon-uniE91F:before {
    content: "\e91f";
}

.icon-uniE920:before {
    content: "\e920";
}

.icon-uniE921:before {
    content: "\e921";
}

.icon-uniE922:before {
    content: "\e922";
}

.icon-uniE923:before {
    content: "\e923";
}

.icon-uniE924:before {
    content: "\e924";
}

.icon-uniE925:before {
    content: "\e925";
}

.icon-uniE926:before {
    content: "\e926";
}

.icon-uniE927:before {
    content: "\e927";
}

.icon-collection:before {
    content: "\e928";
}

.icon-community:before {
    content: "\e929";
}

.icon-facebook1:before {
    content: "\e92b";
}

.icon-image1:before {
    content: "\e92c";
}

.icon-linkedin1:before {
    content: "\e92d";
}

.icon-uniE92E:before {
    content: "\e92e";
}

.icon-uniE92F:before {
    content: "\e92f";
}

.icon-uniE930:before {
    content: "\e930";
}

.icon-uniE931:before {
    content: "\e931";
}

.icon-uniE932:before {
    content: "\e932";
}

.icon-uniE933:before {
    content: "\e933";
}

.icon-uniE934:before {
    content: "\e934";
}

.icon-uniE935:before {
    content: "\e935";
}

.icon-uniE936:before {
    content: "\e936";
}

.icon-uniE937:before {
    content: "\e937";
}

.icon-uniE938:before {
    content: "\e938";
}

.icon-uniE939:before {
    content: "\e939";
}

.icon-plan:before {
    content: "\e93a";
}

.icon-quality:before {
    content: "\e93b";
}

.icon-resource:before {
    content: "\e93c";
}

.icon-trading:before {
    content: "\e93e";
}

.icon-twiter:before {
    content: "\e93f";
}

.icon-users1:before {
    content: "\e940";
}

.icon-uniE941:before {
    content: "\e941";
}

.icon-uniE942:before {
    content: "\e942";
}

.icon-uniE943:before {
    content: "\e943";
}

.icon-uniE944:before {
    content: "\e944";
}

.icon-uniE945:before {
    content: "\e945";
}

.icon-uniE946:before {
    content: "\e946";
}

.icon-uniE947:before {
    content: "\e947";
}

.icon-uniE948:before {
    content: "\e948";
}

.icon-uniE949:before {
    content: "\e949";
}

.icon-youtobe:before {
    content: "\e94a";
}

.icon-mb589 .path1:before {
    content: "\e92a";
    color: rgb(231, 212, 143);
}

.icon-mb589 .path2:before {
    content: "\e93d";
    margin-left: -1em;
    color: rgb(204, 152, 66);
}

.icon-mb589 .path3:before {
    content: "\e94b";
    margin-left: -1em;
    color: rgb(51, 52, 54);
}

.icon-mb589 .path4:before {
    content: "\e94c";
    margin-left: -1em;
    color: rgb(145, 92, 30);
}

.icon-mb589 .path5:before {
    content: "\e94d";
    margin-left: -1em;
    color: rgb(159, 94, 25);
}

.icon-mb589 .path6:before {
    content: "\e94e";
    margin-left: -1em;
    color: rgb(107, 125, 154);
}

.icon-mb589 .path7:before {
    content: "\e94f";
    margin-left: -1em;
    color: rgb(171, 171, 171);
}

.icon-mb589 .path8:before {
    content: "\e950";
    margin-left: -1em;
    color: rgb(173, 173, 172);
}

.icon-mb589 .path9:before {
    content: "\e951";
    margin-left: -1em;
    color: rgb(171, 172, 171);
}

.icon-mb589 .path10:before {
    content: "\e952";
    margin-left: -1em;
    color: rgb(58, 82, 124);
}

.icon-mb589 .path11:before {
    content: "\e953";
    margin-left: -1em;
    color: rgb(165, 167, 168);
}

.icon-mb589 .path12:before {
    content: "\e954";
    margin-left: -1em;
    color: rgb(175, 175, 173);
}

.icon-mb589 .path13:before {
    content: "\e955";
    margin-left: -1em;
    color: rgb(52, 75, 118);
}

.icon-mb589 .path14:before {
    content: "\e956";
    margin-left: -1em;
    color: rgb(216, 204, 155);
    opacity: 0.933;
}

.icon-mb589 .path15:before {
    content: "\e957";
    margin-left: -1em;
    color: rgb(196, 197, 192);
}

.icon-mb589 .path16:before {
    content: "\e958";
    margin-left: -1em;
    color: rgb(42, 55, 56);
}

.icon-mb589 .path17:before {
    content: "\e959";
    margin-left: -1em;
    color: rgb(21, 21, 24);
}

.icon-mb589 .path18:before {
    content: "\e95a";
    margin-left: -1em;
    color: rgb(52, 76, 118);
}

.icon-mb589 .path19:before {
    content: "\e95b";
    margin-left: -1em;
    color: rgb(122, 137, 164);
}

.icon-mb589 .path20:before {
    content: "\e95c";
    margin-left: -1em;
    color: rgb(37, 56, 97);
}

.icon-mb589 .path21:before {
    content: "\e95d";
    margin-left: -1em;
    color: rgb(238, 238, 235);
}

.icon-mb589 .path22:before {
    content: "\e95e";
    margin-left: -1em;
    color: rgb(64, 221, 193);
}

.icon-mb589 .path23:before {
    content: "\e95f";
    margin-left: -1em;
    color: rgb(70, 97, 139);
}

.icon-mb589 .path24:before {
    content: "\e960";
    margin-left: -1em;
    color: rgb(33, 52, 93);
}

.icon-mb589 .path25:before {
    content: "\e961";
    margin-left: -1em;
    color: rgb(60, 35, 53);
}

.icon-mb589 .path26:before {
    content: "\e962";
    margin-left: -1em;
    color: rgb(238, 208, 200);
}

.icon-mb589 .path27:before {
    content: "\e963";
    margin-left: -1em;
    color: rgb(203, 46, 239);
}

.icon-mb589 .path28:before {
    content: "\e964";
    margin-left: -1em;
    color: rgb(164, 177, 191);
}

.icon-mb589 .path29:before {
    content: "\e965";
    margin-left: -1em;
    color: rgb(220, 219, 215);
}

.icon-mb589 .path30:before {
    content: "\e966";
    margin-left: -1em;
    color: rgb(228, 123, 96);
}

.icon-mb589 .path31:before {
    content: "\e967";
    margin-left: -1em;
    color: rgb(97, 38, 42);
}

.icon-mb589 .path32:before {
    content: "\e968";
    margin-left: -1em;
    color: rgb(101, 26, 130);
}

.icon-mb589 .path33:before {
    content: "\e969";
    margin-left: -1em;
    color: rgb(112, 121, 139);
}

.icon-mb589 .path34:before {
    content: "\e96a";
    margin-left: -1em;
    color: rgb(19, 18, 54);
}

.icon-mb589 .path35:before {
    content: "\e96b";
    margin-left: -1em;
    color: rgb(43, 180, 195);
}

.icon-mb589 .path36:before {
    content: "\e96c";
    margin-left: -1em;
    color: rgb(36, 40, 43);
}

.icon-mb589 .path37:before {
    content: "\e96d";
    margin-left: -1em;
    color: rgb(171, 29, 207);
}

.icon-mb589 .path38:before {
    content: "\e96e";
    margin-left: -1em;
    color: rgb(48, 84, 138);
}

.icon-mb589 .path39:before {
    content: "\e96f";
    margin-left: -1em;
    color: rgb(209, 67, 61);
}

.icon-mb589 .path40:before {
    content: "\e970";
    margin-left: -1em;
    color: rgb(104, 150, 232);
}

.icon-mb589 .path41:before {
    content: "\e971";
    margin-left: -1em;
    color: rgb(231, 224, 200);
}

.icon-mb589 .path42:before {
    content: "\e972";
    margin-left: -1em;
    color: rgb(203, 154, 60);
}

.icon-mb589 .path43:before {
    content: "\e973";
    margin-left: -1em;
    color: rgb(244, 241, 231);
}

.icon-mb589 .path44:before {
    content: "\e974";
    margin-left: -1em;
    color: rgb(213, 219, 223);
}

.icon-mb589 .path45:before {
    content: "\e975";
    margin-left: -1em;
    color: rgb(100, 124, 159);
}

.icon-mb589 .path46:before {
    content: "\e976";
    margin-left: -1em;
    color: rgb(77, 128, 226);
}

.icon-mb589 .path47:before {
    content: "\e977";
    margin-left: -1em;
    color: rgb(59, 98, 201);
}

.icon-mb589 .path48:before {
    content: "\e978";
    margin-left: -1em;
    color: rgb(142, 43, 229);
}

.icon-mb589 .path49:before {
    content: "\e979";
    margin-left: -1em;
    color: rgb(45, 69, 159);
}

.icon-mb589 .path50:before {
    content: "\e97a";
    margin-left: -1em;
    color: rgb(33, 53, 143);
}

.icon-mb589 .path51:before {
    content: "\e97b";
    margin-left: -1em;
    color: rgb(51, 20, 93);
}

.icon-mb589 .path52:before {
    content: "\e97c";
    margin-left: -1em;
    color: rgb(156, 161, 178);
}

.icon-mb589 .path53:before {
    content: "\e97d";
    margin-left: -1em;
    color: rgb(38, 43, 49);
}

.icon-mb589 .path54:before {
    content: "\e97e";
    margin-left: -1em;
    color: rgb(46, 131, 198);
}

.icon-mb589 .path55:before {
    content: "\e97f";
    margin-left: -1em;
    color: rgb(31, 41, 126);
}

.icon-mb589 .path56:before {
    content: "\e980";
    margin-left: -1em;
    color: rgb(101, 20, 181);
}

.icon-mb589 .path57:before {
    content: "\e981";
    margin-left: -1em;
    color: rgb(39, 24, 83);
}

.icon-mb589 .path58:before {
    content: "\e982";
    margin-left: -1em;
    color: rgb(117, 175, 164);
}

.icon-mb589 .path59:before {
    content: "\e983";
    margin-left: -1em;
    color: rgb(37, 47, 78);
}

.icon-mb589 .path60:before {
    content: "\e984";
    margin-left: -1em;
    color: rgb(34, 55, 101);
}

.icon-mb589 .path61:before {
    content: "\e985";
    margin-left: -1em;
    color: rgb(72, 100, 145);
}

.icon-mb589 .path62:before {
    content: "\e986";
    margin-left: -1em;
    color: rgb(164, 58, 44);
}

.icon-mb589 .path63:before {
    content: "\e987";
    margin-left: -1em;
    color: rgb(51, 165, 203);
}

.icon-mb589 .path64:before {
    content: "\e988";
    margin-left: -1em;
    color: rgb(190, 208, 206);
}

.icon-mb589 .path65:before {
    content: "\e989";
    margin-left: -1em;
    color: rgb(39, 60, 163);
}

.icon-mb589 .path66:before {
    content: "\e98a";
    margin-left: -1em;
    color: rgb(152, 175, 218);
}

.icon-mb589 .path67:before {
    content: "\e98b";
    margin-left: -1em;
    color: rgb(33, 56, 96);
}

.icon-mb589 .path68:before {
    content: "\e98c";
    margin-left: -1em;
    color: rgb(87, 98, 105);
}

.icon-mb589 .path69:before {
    content: "\e98d";
    margin-left: -1em;
    color: rgb(38, 94, 151);
}

.icon-mb589 .path70:before {
    content: "\e98e";
    margin-left: -1em;
    color: rgb(152, 157, 157);
}

.icon-mb589 .path71:before {
    content: "\e98f";
    margin-left: -1em;
    color: rgb(25, 21, 38);
}

.icon-mb589 .path72:before {
    content: "\e990";
    margin-left: -1em;
    color: rgb(74, 87, 94);
}

.icon-mb589 .path73:before {
    content: "\e991";
    margin-left: -1em;
    color: rgb(34, 133, 128);
}

.icon-mb589 .path74:before {
    content: "\e992";
    margin-left: -1em;
    color: rgb(48, 34, 96);
}

.icon-mb589 .path75:before {
    content: "\e993";
    margin-left: -1em;
    color: rgb(122, 146, 162);
}

.icon-mb589 .path76:before {
    content: "\e994";
    margin-left: -1em;
    color: rgb(229, 230, 228);
}

.icon-mb589 .path77:before {
    content: "\e995";
    margin-left: -1em;
    color: rgb(123, 141, 167);
}

.icon-mb589 .path78:before {
    content: "\e996";
    margin-left: -1em;
    color: rgb(37, 37, 39);
}

.icon-mb589 .path79:before {
    content: "\e997";
    margin-left: -1em;
    color: rgb(36, 37, 38);
}

.icon-mb589 .path80:before {
    content: "\e998";
    margin-left: -1em;
    color: rgb(184, 98, 77);
}

.icon-mb589 .path81:before {
    content: "\e999";
    margin-left: -1em;
    color: rgb(206, 67, 208);
}

.icon-mb589 .path82:before {
    content: "\e99a";
    margin-left: -1em;
    color: rgb(90, 55, 49);
}

.icon-mb589 .path83:before {
    content: "\e99b";
    margin-left: -1em;
    color: rgb(45, 175, 154);
}

.icon-mb589 .path84:before {
    content: "\e99c";
    margin-left: -1em;
    color: rgb(26, 134, 160);
}

.icon-mb589 .path85:before {
    content: "\e99d";
    margin-left: -1em;
    color: rgb(151, 165, 178);
}

.icon-mb589 .path86:before {
    content: "\e99e";
    margin-left: -1em;
    color: rgb(19, 18, 19);
}

.icon-mb589 .path87:before {
    content: "\e99f";
    margin-left: -1em;
    color: rgb(227, 71, 67);
}

.icon-mb589 .path88:before {
    content: "\e9a0";
    margin-left: -1em;
    color: rgb(161, 145, 117);
}

.icon-mb589 .path89:before {
    content: "\e9a1";
    margin-left: -1em;
    color: rgb(241, 234, 223);
}

.icon-mb589 .path90:before {
    content: "\e9a2";
    margin-left: -1em;
    color: rgb(178, 171, 156);
}

.icon-mb589 .path91:before {
    content: "\e9a3";
    margin-left: -1em;
    color: rgb(212, 213, 209);
}

.icon-mb589 .path92:before {
    content: "\e9a4";
    margin-left: -1em;
    color: rgb(53, 169, 165);
}

.icon-mb589 .path93:before {
    content: "\e9a5";
    margin-left: -1em;
    color: rgb(186, 180, 169);
}

.icon-mb589 .path94:before {
    content: "\e9a6";
    margin-left: -1em;
    color: rgb(194, 147, 60);
}

.icon-mb589 .path95:before {
    content: "\e9a7";
    margin-left: -1em;
    color: rgb(42, 43, 46);
}

.icon-mb589 .path96:before {
    content: "\e9a8";
    margin-left: -1em;
    color: rgb(170, 177, 184);
}

.icon-mb589 .path97:before {
    content: "\e9a9";
    margin-left: -1em;
    color: rgb(47, 44, 53);
}

.icon-mb589 .path98:before {
    content: "\e9aa";
    margin-left: -1em;
    color: rgb(7, 126, 132);
}

.icon-mb589 .path99:before {
    content: "\e9ab";
    margin-left: -1em;
    color: rgb(132, 105, 53);
}

.icon-mb589 .path100:before {
    content: "\e9ac";
    margin-left: -1em;
    color: rgb(79, 189, 175);
}

.icon-mb589 .path101:before {
    content: "\e9ad";
    margin-left: -1em;
    color: rgb(44, 45, 47);
}

.icon-mb589 .path102:before {
    content: "\e9ae";
    margin-left: -1em;
    color: rgb(67, 136, 115);
}

.icon-mb589 .path103:before {
    content: "\e9af";
    margin-left: -1em;
    color: rgb(180, 159, 123);
}

.icon-mb589 .path104:before {
    content: "\e9b0";
    margin-left: -1em;
    color: rgb(136, 115, 63);
}

.icon-mb589 .path105:before {
    content: "\e9b1";
    margin-left: -1em;
    color: rgb(113, 98, 80);
}

.icon-mb589 .path106:before {
    content: "\e9b2";
    margin-left: -1em;
    color: rgb(133, 233, 190);
}

.icon-mb589 .path107:before {
    content: "\e9b3";
    margin-left: -1em;
    color: rgb(22, 24, 33);
}

.icon-mb589 .path108:before {
    content: "\e9b4";
    margin-left: -1em;
    color: rgb(44, 44, 47);
}

.icon-mb589 .path109:before {
    content: "\e9b5";
    margin-left: -1em;
    color: rgb(120, 114, 102);
}

.icon-mb589 .path110:before {
    content: "\e9b6";
    margin-left: -1em;
    color: rgb(225, 219, 197);
}

.icon-mb589 .path111:before {
    content: "\e9b7";
    margin-left: -1em;
    color: rgb(48, 43, 42);
}

.icon-mb589 .path112:before {
    content: "\e9b8";
    margin-left: -1em;
    color: rgb(28, 32, 38);
}

.icon-mb589 .path113:before {
    content: "\e9b9";
    margin-left: -1em;
    color: rgb(181, 157, 108);
}

.icon-mb589 .path114:before {
    content: "\e9ba";
    margin-left: -1em;
    color: rgb(35, 35, 40);
}

.icon-mb589 .path115:before {
    content: "\e9bb";
    margin-left: -1em;
    color: rgb(135, 208, 164);
}

.icon-mb589 .path116:before {
    content: "\e9bc";
    margin-left: -1em;
    color: rgb(149, 140, 87);
}

.icon-mb589 .path117:before {
    content: "\e9bd";
    margin-left: -1em;
    color: rgb(140, 39, 198);
}

.icon-mb589 .path118:before {
    content: "\e9be";
    margin-left: -1em;
    color: rgb(145, 120, 71);
}

.icon-mb589 .path119:before {
    content: "\e9bf";
    margin-left: -1em;
    color: rgb(34, 32, 35);
}

.icon-mb589 .path120:before {
    content: "\e9c0";
    margin-left: -1em;
    color: rgb(175, 149, 91);
}

.icon-mb589 .path121:before {
    content: "\e9c1";
    margin-left: -1em;
    color: rgb(167, 153, 106);
}

.icon-mb589 .path122:before {
    content: "\e9c2";
    margin-left: -1em;
    color: rgb(121, 103, 71);
}

.icon-mb589 .path123:before {
    content: "\e9c3";
    margin-left: -1em;
    color: rgb(32, 26, 31);
}

.icon-mb589 .path124:before {
    content: "\e9c4";
    margin-left: -1em;
    color: rgb(28, 29, 31);
}

.icon-mb589 .path125:before {
    content: "\e9c5";
    margin-left: -1em;
    color: rgb(158, 135, 90);
}

.icon-mb589 .path126:before {
    content: "\e9c6";
    margin-left: -1em;
    color: rgb(193, 123, 93);
}

.icon-mb589 .path127:before {
    content: "\e9c7";
    margin-left: -1em;
    color: rgb(160, 168, 122);
}

.icon-mb589 .path128:before {
    content: "\e9c8";
    margin-left: -1em;
    color: rgb(39, 46, 76);
}

.icon-mb589 .path129:before {
    content: "\e9c9";
    margin-left: -1em;
    color: rgb(207, 193, 167);
}

.icon-mb589 .path130:before {
    content: "\e9ca";
    margin-left: -1em;
    color: rgb(39, 38, 40);
}

.icon-mb589 .path131:before {
    content: "\e9cb";
    margin-left: -1em;
    color: rgb(42, 42, 45);
}

.icon-mb589 .path132:before {
    content: "\e9cc";
    margin-left: -1em;
    color: rgb(217, 99, 244);
}

.icon-mb589 .path133:before {
    content: "\e9cd";
    margin-left: -1em;
    color: rgb(156, 135, 98);
}

.icon-mb589 .path134:before {
    content: "\e9ce";
    margin-left: -1em;
    color: rgb(164, 158, 139);
}

.icon-mb589 .path135:before {
    content: "\e9cf";
    margin-left: -1em;
    color: rgb(120, 74, 53);
}

.icon-mb589 .path136:before {
    content: "\e9d0";
    margin-left: -1em;
    color: rgb(106, 173, 154);
}

.icon-mb589 .path137:before {
    content: "\e9d1";
    margin-left: -1em;
    color: rgb(145, 126, 78);
}

.icon-mb589 .path138:before {
    content: "\e9d2";
    margin-left: -1em;
    color: rgb(143, 101, 41);
}

.icon-mb589 .path139:before {
    content: "\e9d3";
    margin-left: -1em;
    color: rgb(202, 191, 173);
}

.icon-mb589 .path140:before {
    content: "\e9d4";
    margin-left: -1em;
    color: rgb(70, 189, 154);
}

.icon-mb589 .path141:before {
    content: "\e9d5";
    margin-left: -1em;
    color: rgb(25, 25, 27);
}

.icon-mb589 .path142:before {
    content: "\e9d6";
    margin-left: -1em;
    color: rgb(205, 92, 76);
}

.icon-mb589 .path143:before {
    content: "\e9d7";
    margin-left: -1em;
    color: rgb(172, 155, 128);
}

.icon-mb589 .path144:before {
    content: "\e9d8";
    margin-left: -1em;
    color: rgb(137, 35, 221);
}

.icon-mb589 .path145:before {
    content: "\e9d9";
    margin-left: -1em;
    color: rgb(203, 199, 192);
}

.icon-mb589 .path146:before {
    content: "\e9da";
    margin-left: -1em;
    color: rgb(30, 29, 31);
}

.icon-mb589 .path147:before {
    content: "\e9db";
    margin-left: -1em;
    color: rgb(73, 228, 191);
}

.icon-mb589 .path148:before {
    content: "\e9dc";
    margin-left: -1em;
    color: rgb(206, 207, 205);
}

.icon-mb589 .path149:before {
    content: "\e9dd";
    margin-left: -1em;
    color: rgb(90, 27, 30);
}

.icon-mb589 .path150:before {
    content: "\e9de";
    margin-left: -1em;
    color: rgb(107, 25, 192);
}

.icon-mb589 .path151:before {
    content: "\e9df";
    margin-left: -1em;
    color: rgb(220, 118, 230);
}

.icon-mb589 .path152:before {
    content: "\e9e0";
    margin-left: -1em;
    color: rgb(142, 114, 59);
}

.icon-mb589 .path153:before {
    content: "\e9e1";
    margin-left: -1em;
    color: rgb(193, 46, 46);
}

.icon-mb589 .path154:before {
    content: "\e9e2";
    margin-left: -1em;
    color: rgb(23, 61, 60);
}

.icon-mb589 .path155:before {
    content: "\e9e3";
    margin-left: -1em;
    color: rgb(244, 239, 231);
}

.icon-mb589 .path156:before {
    content: "\e9e4";
    margin-left: -1em;
    color: rgb(75, 18, 109);
}

.icon-mb589 .path157:before {
    content: "\e9e5";
    margin-left: -1em;
    color: rgb(193, 30, 34);
}

.icon-mb589 .path158:before {
    content: "\e9e6";
    margin-left: -1em;
    color: rgb(163, 52, 230);
}

.icon-mb589 .path159:before {
    content: "\e9e7";
    margin-left: -1em;
    color: rgb(29, 23, 21);
}

.icon-mb589 .path160:before {
    content: "\e9e8";
    margin-left: -1em;
    color: rgb(24, 25, 27);
}

.icon-mb589 .path161:before {
    content: "\e9e9";
    margin-left: -1em;
    color: rgb(174, 151, 102);
}

.icon-mb589 .path162:before {
    content: "\e9ea";
    margin-left: -1em;
    color: rgb(153, 107, 32);
}

.icon-mb589 .path163:before {
    content: "\e9eb";
    margin-left: -1em;
    color: rgb(147, 123, 66);
}

.icon-mb589 .path164:before {
    content: "\e9ec";
    margin-left: -1em;
    color: rgb(167, 166, 161);
}

.icon-mb589 .path165:before {
    content: "\e9ed";
    margin-left: -1em;
    color: rgb(217, 208, 156);
}

.icon-mb589 .path166:before {
    content: "\e9ee";
    margin-left: -1em;
    color: rgb(144, 116, 129);
}

.icon-mb589 .path167:before {
    content: "\e9ef";
    margin-left: -1em;
    color: rgb(11, 154, 176);
}

.icon-mb589 .path168:before {
    content: "\e9f0";
    margin-left: -1em;
    color: rgb(92, 77, 45);
}

.icon-mb589 .path169:before {
    content: "\e9f1";
    margin-left: -1em;
    color: rgb(32, 154, 171);
}

.icon-mb589 .path170:before {
    content: "\e9f2";
    margin-left: -1em;
    color: rgb(26, 53, 65);
}

.icon-mb589 .path171:before {
    content: "\e9f3";
    margin-left: -1em;
    color: rgb(77, 214, 179);
}

.icon-mb589 .path172:before {
    content: "\e9f4";
    margin-left: -1em;
    color: rgb(184, 142, 59);
}

.icon-mb589 .path173:before {
    content: "\e9f5";
    margin-left: -1em;
    color: rgb(23, 11, 12);
}

.icon-mb589 .path174:before {
    content: "\e9f6";
    margin-left: -1em;
    color: rgb(176, 152, 101);
}

.icon-mb589 .path175:before {
    content: "\e9f7";
    margin-left: -1em;
    color: rgb(27, 153, 175);
}

.icon-mb589 .path176:before {
    content: "\e9f8";
    margin-left: -1em;
    color: rgb(177, 190, 193);
}

.icon-mb589 .path177:before {
    content: "\e9f9";
    margin-left: -1em;
    color: rgb(206, 156, 62);
}

.icon-mb589 .path178:before {
    content: "\e9fa";
    margin-left: -1em;
    color: rgb(141, 122, 56);
}

.icon-mb589 .path179:before {
    content: "\e9fb";
    margin-left: -1em;
    color: rgb(54, 39, 28);
}

.icon-mb589 .path180:before {
    content: "\e9fc";
    margin-left: -1em;
    color: rgb(16, 14, 14);
}

.icon-mb589 .path181:before {
    content: "\e9fd";
    margin-left: -1em;
    color: rgb(12, 18, 28);
}

.icon-mb589 .path182:before {
    content: "\e9fe";
    margin-left: -1em;
    color: rgb(84, 170, 142);
}

.icon-mb589 .path183:before {
    content: "\e9ff";
    margin-left: -1em;
    color: rgb(140, 101, 66);
}

.icon-mb589 .path184:before {
    content: "\ea00";
    margin-left: -1em;
    color: rgb(23, 16, 10);
}

.icon-mb589 .path185:before {
    content: "\ea01";
    margin-left: -1em;
    color: rgb(229, 222, 210);
}

.icon-mb589 .path186:before {
    content: "\ea02";
    margin-left: -1em;
    color: rgb(156, 131, 71);
}

.icon-mb589 .path187:before {
    content: "\ea03";
    margin-left: -1em;
    color: rgb(132, 233, 200);
}

.icon-mb589 .path188:before {
    content: "\ea04";
    margin-left: -1em;
    color: rgb(175, 149, 87);
}

.icon-mb589 .path189:before {
    content: "\ea05";
    margin-left: -1em;
    color: rgb(165, 146, 122);
}

.icon-mb589 .path190:before {
    content: "\ea06";
    margin-left: -1em;
    color: rgb(243, 236, 228);
}

.icon-mb589 .path191:before {
    content: "\ea07";
    margin-left: -1em;
    color: rgb(207, 148, 213);
}

.icon-mb589 .path192:before {
    content: "\ea08";
    margin-left: -1em;
    color: rgb(122, 126, 125);
}

.icon-mb589 .path193:before {
    content: "\ea09";
    margin-left: -1em;
    color: rgb(117, 126, 112);
}

.icon-mb589 .path194:before {
    content: "\ea0a";
    margin-left: -1em;
    color: rgb(130, 106, 54);
}

.icon-mb589 .path195:before {
    content: "\ea0b";
    margin-left: -1em;
    color: rgb(20, 127, 120);
}

.icon-mb589 .path196:before {
    content: "\ea0c";
    margin-left: -1em;
    color: rgb(154, 148, 146);
}

.icon-mb589 .path197:before {
    content: "\ea0d";
    margin-left: -1em;
    color: rgb(8, 4, 1);
    opacity: 0.0320;
}

.icon-xrp:before {
    content: "\ea0e";
}

.icon-home:before {
    content: "\ea0f";
}

.icon-home2:before {
    content: "\ea10";
}

.icon-home3:before {
    content: "\ea11";
}

.icon-office:before {
    content: "\ea12";
}

.icon-newspaper:before {
    content: "\ea13";
}

.icon-pencil:before {
    content: "\ea14";
}

.icon-pencil2:before {
    content: "\ea15";
}

.icon-quill:before {
    content: "\ea16";
}

.icon-pen:before {
    content: "\ea17";
}

.icon-blog:before {
    content: "\ea18";
}

.icon-eyedropper:before {
    content: "\ea19";
}

.icon-droplet:before {
    content: "\ea1a";
}

.icon-paint-format:before {
    content: "\ea1b";
}

.icon-image:before {
    content: "\ea1c";
}

.icon-images:before {
    content: "\ea1d";
}

.icon-camera:before {
    content: "\ea1e";
}

.icon-headphones:before {
    content: "\ea1f";
}

.icon-music:before {
    content: "\ea20";
}

.icon-play:before {
    content: "\ea21";
}

.icon-film:before {
    content: "\ea22";
}

.icon-video-camera:before {
    content: "\ea23";
}

.icon-dice:before {
    content: "\ea24";
}

.icon-pacman:before {
    content: "\ea25";
}

.icon-spades:before {
    content: "\ea26";
}

.icon-clubs:before {
    content: "\ea27";
}

.icon-diamonds:before {
    content: "\ea28";
}

.icon-bullhorn:before {
    content: "\ea29";
}

.icon-connection:before {
    content: "\ea2a";
}

.icon-podcast:before {
    content: "\ea2b";
}

.icon-feed:before {
    content: "\ea2c";
}

.icon-mic:before {
    content: "\ea2d";
}

.icon-book:before {
    content: "\ea2e";
}

.icon-books:before {
    content: "\ea2f";
}

.icon-library:before {
    content: "\ea30";
}

.icon-file-text:before {
    content: "\ea31";
}

.icon-profile:before {
    content: "\ea32";
}

.icon-file-empty:before {
    content: "\ea33";
}

.icon-files-empty:before {
    content: "\ea34";
}

.icon-file-text2:before {
    content: "\ea35";
}

.icon-file-picture:before {
    content: "\ea36";
}

.icon-file-music:before {
    content: "\ea37";
}

.icon-file-play:before {
    content: "\ea38";
}

.icon-file-video:before {
    content: "\ea39";
}

.icon-file-zip:before {
    content: "\ea3a";
}

.icon-copy:before {
    content: "\ea3b";
}

.icon-paste:before {
    content: "\ea3c";
}

.icon-stack:before {
    content: "\ea3d";
}

.icon-folder:before {
    content: "\ea3e";
}

.icon-folder-open:before {
    content: "\ea3f";
}

.icon-folder-plus:before {
    content: "\ea40";
}

.icon-folder-minus:before {
    content: "\ea41";
}

.icon-folder-download:before {
    content: "\ea42";
}

.icon-folder-upload:before {
    content: "\ea43";
}

.icon-price-tag:before {
    content: "\ea44";
}

.icon-price-tags:before {
    content: "\ea45";
}

.icon-barcode:before {
    content: "\ea46";
}

.icon-qrcode:before {
    content: "\ea47";
}

.icon-ticket:before {
    content: "\ea48";
}

.icon-cart:before {
    content: "\ea49";
}

.icon-coin-dollar:before {
    content: "\ea4a";
}

.icon-coin-euro:before {
    content: "\ea4b";
}

.icon-coin-pound:before {
    content: "\ea4c";
}

.icon-coin-yen:before {
    content: "\ea4d";
}

.icon-credit-card:before {
    content: "\ea4e";
}

.icon-calculator:before {
    content: "\ea4f";
}

.icon-lifebuoy:before {
    content: "\ea50";
}

.icon-phone:before {
    content: "\ea51";
}

.icon-phone-hang-up:before {
    content: "\ea52";
}

.icon-address-book:before {
    content: "\ea53";
}

.icon-envelop:before {
    content: "\ea54";
}

.icon-pushpin:before {
    content: "\ea55";
}

.icon-location:before {
    content: "\ea56";
}

.icon-location2:before {
    content: "\ea57";
}

.icon-compass:before {
    content: "\ea58";
}

.icon-compass2:before {
    content: "\ea59";
}

.icon-map:before {
    content: "\ea5a";
}

.icon-map2:before {
    content: "\ea5b";
}

.icon-history:before {
    content: "\ea5c";
}

.icon-clock:before {
    content: "\ea5d";
}

.icon-clock2:before {
    content: "\ea5e";
}

.icon-alarm:before {
    content: "\ea5f";
}

.icon-bell:before {
    content: "\ea60";
}

.icon-stopwatch:before {
    content: "\ea61";
}

.icon-calendar:before {
    content: "\ea62";
}

.icon-printer:before {
    content: "\ea63";
}

.icon-keyboard:before {
    content: "\ea64";
}

.icon-display:before {
    content: "\ea65";
}

.icon-laptop:before {
    content: "\ea66";
}

.icon-mobile:before {
    content: "\ea67";
}

.icon-mobile2:before {
    content: "\ea68";
}

.icon-tablet:before {
    content: "\ea69";
}

.icon-tv:before {
    content: "\ea6a";
}

.icon-drawer:before {
    content: "\ea6b";
}

.icon-drawer2:before {
    content: "\ea6c";
}

.icon-box-add:before {
    content: "\ea6d";
}

.icon-box-remove:before {
    content: "\ea6e";
}

.icon-download:before {
    content: "\ea6f";
}

.icon-upload:before {
    content: "\ea70";
}

.icon-floppy-disk:before {
    content: "\ea71";
}

.icon-drive:before {
    content: "\ea72";
}

.icon-database:before {
    content: "\ea73";
}

.icon-undo:before {
    content: "\ea74";
}

.icon-redo:before {
    content: "\ea75";
}

.icon-undo2:before {
    content: "\ea76";
}

.icon-redo2:before {
    content: "\ea77";
}

.icon-forward:before {
    content: "\ea78";
}

.icon-reply:before {
    content: "\ea79";
}

.icon-bubble:before {
    content: "\ea7a";
}

.icon-bubbles:before {
    content: "\ea7b";
}

.icon-bubbles2:before {
    content: "\ea7c";
}

.icon-bubble2:before {
    content: "\ea7d";
}

.icon-bubbles3:before {
    content: "\ea7e";
}

.icon-bubbles4:before {
    content: "\ea7f";
}

.icon-user:before {
    content: "\ea80";
}

.icon-users:before {
    content: "\ea81";
}

.icon-user-plus:before {
    content: "\ea82";
}

.icon-user-minus:before {
    content: "\ea83";
}

.icon-user-check:before {
    content: "\ea84";
}

.icon-user-tie:before {
    content: "\ea85";
}

.icon-quotes-left:before {
    content: "\ea86";
}

.icon-quotes-right:before {
    content: "\ea87";
}

.icon-hour-glass:before {
    content: "\ea88";
}

.icon-spinner:before {
    content: "\ea89";
}

.icon-spinner2:before {
    content: "\ea8a";
}

.icon-spinner3:before {
    content: "\ea8b";
}

.icon-spinner4:before {
    content: "\ea8c";
}

.icon-spinner5:before {
    content: "\ea8d";
}

.icon-spinner6:before {
    content: "\ea8e";
}

.icon-spinner7:before {
    content: "\ea8f";
}

.icon-spinner8:before {
    content: "\ea90";
}

.icon-spinner9:before {
    content: "\ea91";
}

.icon-spinner10:before {
    content: "\ea92";
}

.icon-spinner11:before {
    content: "\ea93";
}

.icon-binoculars:before {
    content: "\ea94";
}

.icon-search:before {
    content: "\ea95";
}

.icon-zoom-in:before {
    content: "\ea96";
}

.icon-zoom-out:before {
    content: "\ea97";
}

.icon-enlarge:before {
    content: "\ea98";
}

.icon-shrink:before {
    content: "\ea99";
}

.icon-enlarge2:before {
    content: "\ea9a";
}

.icon-shrink2:before {
    content: "\ea9b";
}

.icon-key:before {
    content: "\ea9c";
}

.icon-key2:before {
    content: "\ea9d";
}

.icon-lock:before {
    content: "\ea9e";
}

.icon-unlocked:before {
    content: "\ea9f";
}

.icon-wrench:before {
    content: "\eaa0";
}

.icon-equalizer:before {
    content: "\eaa1";
}

.icon-equalizer2:before {
    content: "\eaa2";
}

.icon-cog:before {
    content: "\eaa3";
}

.icon-cogs:before {
    content: "\eaa4";
}

.icon-hammer:before {
    content: "\eaa5";
}

.icon-magic-wand:before {
    content: "\eaa6";
}

.icon-aid-kit:before {
    content: "\eaa7";
}

.icon-bug:before {
    content: "\eaa8";
}

.icon-pie-chart:before {
    content: "\eaa9";
}

.icon-stats-dots:before {
    content: "\eaaa";
}

.icon-stats-bars:before {
    content: "\eaab";
}

.icon-stats-bars2:before {
    content: "\eaac";
}

.icon-trophy:before {
    content: "\eaad";
}

.icon-gift:before {
    content: "\eaae";
}

.icon-glass:before {
    content: "\eaaf";
}

.icon-glass2:before {
    content: "\eab0";
}

.icon-mug:before {
    content: "\eab1";
}

.icon-spoon-knife:before {
    content: "\eab2";
}

.icon-leaf:before {
    content: "\eab3";
}

.icon-rocket:before {
    content: "\eab4";
}

.icon-meter:before {
    content: "\eab5";
}

.icon-meter2:before {
    content: "\eab6";
}

.icon-hammer2:before {
    content: "\eab7";
}

.icon-fire:before {
    content: "\eab8";
}

.icon-lab:before {
    content: "\eab9";
}

.icon-magnet:before {
    content: "\eaba";
}

.icon-bin:before {
    content: "\eabb";
}

.icon-bin2:before {
    content: "\eabc";
}

.icon-briefcase:before {
    content: "\eabd";
}

.icon-airplane:before {
    content: "\eabe";
}

.icon-truck:before {
    content: "\eabf";
}

.icon-road:before {
    content: "\eac0";
}

.icon-accessibility:before {
    content: "\eac1";
}

.icon-target:before {
    content: "\eac2";
}

.icon-shield:before {
    content: "\eac3";
}

.icon-power:before {
    content: "\eac4";
}

.icon-switch:before {
    content: "\eac5";
}

.icon-power-cord:before {
    content: "\eac6";
}

.icon-clipboard:before {
    content: "\eac7";
}

.icon-list-numbered:before {
    content: "\eac8";
}

.icon-list:before {
    content: "\eac9";
}

.icon-list2:before {
    content: "\eaca";
}

.icon-tree:before {
    content: "\eacb";
}

.icon-menu:before {
    content: "\eacc";
}

.icon-menu2:before {
    content: "\eacd";
}

.icon-menu3:before {
    content: "\eace";
}

.icon-menu4:before {
    content: "\eacf";
}

.icon-cloud:before {
    content: "\ead0";
}

.icon-cloud-download:before {
    content: "\ead1";
}

.icon-cloud-upload:before {
    content: "\ead2";
}

.icon-cloud-check:before {
    content: "\ead3";
}

.icon-download2:before {
    content: "\ead4";
}

.icon-upload2:before {
    content: "\ead5";
}

.icon-download3:before {
    content: "\ead6";
}

.icon-upload3:before {
    content: "\ead7";
}

.icon-sphere:before {
    content: "\ead8";
}

.icon-earth:before {
    content: "\ead9";
}

.icon-link:before {
    content: "\eada";
}

.icon-flag:before {
    content: "\eadb";
}

.icon-attachment:before {
    content: "\eadc";
}

.icon-eye:before {
    content: "\eadd";
}

.icon-eye-plus:before {
    content: "\eade";
}

.icon-eye-minus:before {
    content: "\eadf";
}

.icon-eye-blocked:before {
    content: "\eae0";
}

.icon-bookmark:before {
    content: "\eae1";
}

.icon-bookmarks:before {
    content: "\eae2";
}

.icon-sun:before {
    content: "\eae3";
}

.icon-contrast:before {
    content: "\eae4";
}

.icon-brightness-contrast:before {
    content: "\eae5";
}

.icon-star-empty:before {
    content: "\eae6";
}

.icon-star-half:before {
    content: "\eae7";
}

.icon-star-full:before {
    content: "\eae8";
}

.icon-heart:before {
    content: "\eae9";
}

.icon-heart-broken:before {
    content: "\eaea";
}

.icon-man:before {
    content: "\eaeb";
}

.icon-woman:before {
    content: "\eaec";
}

.icon-man-woman:before {
    content: "\eaed";
}

.icon-happy:before {
    content: "\eaee";
}

.icon-happy2:before {
    content: "\eaef";
}

.icon-smile:before {
    content: "\eaf0";
}

.icon-smile2:before {
    content: "\eaf1";
}

.icon-tongue:before {
    content: "\eaf2";
}

.icon-tongue2:before {
    content: "\eaf3";
}

.icon-sad:before {
    content: "\eaf4";
}

.icon-sad2:before {
    content: "\eaf5";
}

.icon-wink:before {
    content: "\eaf6";
}

.icon-wink2:before {
    content: "\eaf7";
}

.icon-grin:before {
    content: "\eaf8";
}

.icon-grin2:before {
    content: "\eaf9";
}

.icon-cool:before {
    content: "\eafa";
}

.icon-cool2:before {
    content: "\eafb";
}

.icon-angry:before {
    content: "\eafc";
}

.icon-angry2:before {
    content: "\eafd";
}

.icon-evil:before {
    content: "\eafe";
}

.icon-evil2:before {
    content: "\eaff";
}

.icon-shocked:before {
    content: "\eb00";
}

.icon-shocked2:before {
    content: "\eb01";
}

.icon-baffled:before {
    content: "\eb02";
}

.icon-baffled2:before {
    content: "\eb03";
}

.icon-confused:before {
    content: "\eb04";
}

.icon-confused2:before {
    content: "\eb05";
}

.icon-neutral:before {
    content: "\eb06";
}

.icon-neutral2:before {
    content: "\eb07";
}

.icon-hipster:before {
    content: "\eb08";
}

.icon-hipster2:before {
    content: "\eb09";
}

.icon-wondering:before {
    content: "\eb0a";
}

.icon-wondering2:before {
    content: "\eb0b";
}

.icon-sleepy:before {
    content: "\eb0c";
}

.icon-sleepy2:before {
    content: "\eb0d";
}

.icon-frustrated:before {
    content: "\eb0e";
}

.icon-frustrated2:before {
    content: "\eb0f";
}

.icon-crying:before {
    content: "\eb10";
}

.icon-crying2:before {
    content: "\eb11";
}

.icon-point-up:before {
    content: "\eb12";
}

.icon-point-right:before {
    content: "\eb13";
}

.icon-point-down:before {
    content: "\eb14";
}

.icon-point-left:before {
    content: "\eb15";
}

.icon-warning:before {
    content: "\eb16";
}

.icon-notification:before {
    content: "\eb17";
}

.icon-question:before {
    content: "\eb18";
}

.icon-plus:before {
    content: "\eb19";
}

.icon-minus:before {
    content: "\eb1a";
}

.icon-info:before {
    content: "\eb1b";
}

.icon-cancel-circle:before {
    content: "\eb1c";
}

.icon-blocked:before {
    content: "\eb1d";
}

.icon-cross:before {
    content: "\eb1e";
}

.icon-checkmark:before {
    content: "\eb1f";
}

.icon-checkmark2:before {
    content: "\eb20";
}

.icon-spell-check:before {
    content: "\eb21";
}

.icon-enter:before {
    content: "\eb22";
}

.icon-exit:before {
    content: "\eb23";
}

.icon-play2:before {
    content: "\eb24";
}

.icon-pause:before {
    content: "\eb25";
}

.icon-stop:before {
    content: "\eb26";
}

.icon-previous:before {
    content: "\eb27";
}

.icon-next:before {
    content: "\eb28";
}

.icon-backward:before {
    content: "\eb29";
}

.icon-forward2:before {
    content: "\eb2a";
}

.icon-play3:before {
    content: "\eb2b";
}

.icon-pause2:before {
    content: "\eb2c";
}

.icon-stop2:before {
    content: "\eb2d";
}

.icon-backward2:before {
    content: "\eb2e";
}

.icon-forward3:before {
    content: "\eb2f";
}

.icon-first:before {
    content: "\eb30";
}

.icon-last:before {
    content: "\eb31";
}

.icon-previous2:before {
    content: "\eb32";
}

.icon-next2:before {
    content: "\eb33";
}

.icon-eject:before {
    content: "\eb34";
}

.icon-volume-high:before {
    content: "\eb35";
}

.icon-volume-medium:before {
    content: "\eb36";
}

.icon-volume-low:before {
    content: "\eb37";
}

.icon-volume-mute:before {
    content: "\eb38";
}

.icon-volume-mute2:before {
    content: "\eb39";
}

.icon-volume-increase:before {
    content: "\eb3a";
}

.icon-volume-decrease:before {
    content: "\eb3b";
}

.icon-loop:before {
    content: "\eb3c";
}

.icon-loop2:before {
    content: "\eb3d";
}

.icon-infinite:before {
    content: "\eb3e";
}

.icon-shuffle:before {
    content: "\eb3f";
}

.icon-arrow-up-left:before {
    content: "\eb40";
}

.icon-arrow-up:before {
    content: "\eb41";
}

.icon-arrow-up-right:before {
    content: "\eb42";
}

.icon-arrow-right:before {
    content: "\eb43";
}

.icon-arrow-down-right:before {
    content: "\eb44";
}

.icon-arrow-down:before {
    content: "\eb45";
}

.icon-arrow-down-left:before {
    content: "\eb46";
}

.icon-arrow-left:before {
    content: "\eb47";
}

.icon-arrow-up-left2:before {
    content: "\eb48";
}

.icon-arrow-up2:before {
    content: "\eb49";
}

.icon-arrow-up-right2:before {
    content: "\eb4a";
}

.icon-arrow-right2:before {
    content: "\eb4b";
}

.icon-arrow-down-right2:before {
    content: "\eb4c";
}

.icon-arrow-down2:before {
    content: "\eb4d";
}

.icon-arrow-down-left2:before {
    content: "\eb4e";
}

.icon-arrow-left2:before {
    content: "\eb4f";
}

.icon-circle-up:before {
    content: "\eb50";
}

.icon-circle-right:before {
    content: "\eb51";
}

.icon-circle-down:before {
    content: "\eb52";
}

.icon-circle-left:before {
    content: "\eb53";
}

.icon-tab:before {
    content: "\eb54";
}

.icon-move-up:before {
    content: "\eb55";
}

.icon-move-down:before {
    content: "\eb56";
}

.icon-sort-alpha-asc:before {
    content: "\eb57";
}

.icon-sort-alpha-desc:before {
    content: "\eb58";
}

.icon-sort-numeric-asc:before {
    content: "\eb59";
}

.icon-sort-numberic-desc:before {
    content: "\eb5a";
}

.icon-sort-amount-asc:before {
    content: "\eb5b";
}

.icon-sort-amount-desc:before {
    content: "\eb5c";
}

.icon-command:before {
    content: "\eb5d";
}

.icon-shift:before {
    content: "\eb5e";
}

.icon-ctrl:before {
    content: "\eb5f";
}

.icon-opt:before {
    content: "\eb60";
}

.icon-checkbox-checked:before {
    content: "\eb61";
}

.icon-checkbox-unchecked:before {
    content: "\eb62";
}

.icon-radio-checked:before {
    content: "\eb63";
}

.icon-radio-checked2:before {
    content: "\eb64";
}

.icon-radio-unchecked:before {
    content: "\eb65";
}

.icon-crop:before {
    content: "\eb66";
}

.icon-make-group:before {
    content: "\eb67";
}

.icon-ungroup:before {
    content: "\eb68";
}

.icon-scissors:before {
    content: "\eb69";
}

.icon-filter:before {
    content: "\eb6a";
}

.icon-font:before {
    content: "\eb6b";
}

.icon-ligature:before {
    content: "\eb6c";
}

.icon-ligature2:before {
    content: "\eb6d";
}

.icon-text-height:before {
    content: "\eb6e";
}

.icon-text-width:before {
    content: "\eb6f";
}

.icon-font-size:before {
    content: "\eb70";
}

.icon-bold:before {
    content: "\eb71";
}

.icon-underline:before {
    content: "\eb72";
}

.icon-italic:before {
    content: "\eb73";
}

.icon-strikethrough:before {
    content: "\eb74";
}

.icon-omega:before {
    content: "\eb75";
}

.icon-sigma:before {
    content: "\eb76";
}

.icon-page-break:before {
    content: "\eb77";
}

.icon-superscript:before {
    content: "\eb78";
}

.icon-subscript:before {
    content: "\eb79";
}

.icon-superscript2:before {
    content: "\eb7a";
}

.icon-subscript2:before {
    content: "\eb7b";
}

.icon-text-color:before {
    content: "\eb7c";
}

.icon-pagebreak:before {
    content: "\eb7d";
}

.icon-clear-formatting:before {
    content: "\eb7e";
}

.icon-table:before {
    content: "\eb7f";
}

.icon-table2:before {
    content: "\eb80";
}

.icon-insert-template:before {
    content: "\eb81";
}

.icon-pilcrow:before {
    content: "\eb82";
}

.icon-ltr:before {
    content: "\eb83";
}

.icon-rtl:before {
    content: "\eb84";
}

.icon-section:before {
    content: "\eb85";
}

.icon-paragraph-left:before {
    content: "\eb86";
}

.icon-paragraph-center:before {
    content: "\eb87";
}

.icon-paragraph-right:before {
    content: "\eb88";
}

.icon-paragraph-justify:before {
    content: "\eb89";
}

.icon-indent-increase:before {
    content: "\eb8a";
}

.icon-indent-decrease:before {
    content: "\eb8b";
}

.icon-share:before {
    content: "\eb8c";
}

.icon-new-tab:before {
    content: "\eb8d";
}

.icon-embed:before {
    content: "\eb8e";
}

.icon-embed2:before {
    content: "\eb8f";
}

.icon-terminal:before {
    content: "\eb90";
}

.icon-share2:before {
    content: "\eb91";
}

.icon-mail:before {
    content: "\eb92";
}

.icon-mail2:before {
    content: "\eb93";
}

.icon-mail3:before {
    content: "\eb94";
}

.icon-mail4:before {
    content: "\eb95";
}

.icon-amazon:before {
    content: "\eb96";
}

.icon-google:before {
    content: "\eb97";
}

.icon-google2:before {
    content: "\eb98";
}

.icon-google3:before {
    content: "\eb99";
}

.icon-google-plus:before {
    content: "\eb9a";
}

.icon-google-plus2:before {
    content: "\eb9b";
}

.icon-google-plus3:before {
    content: "\eb9c";
}

.icon-hangouts:before {
    content: "\eb9d";
}

.icon-google-drive:before {
    content: "\eb9e";
}

.icon-facebook:before {
    content: "\eb9f";
}

.icon-facebook2:before {
    content: "\eba0";
}

.icon-instagram:before {
    content: "\eba1";
}

.icon-whatsapp:before {
    content: "\eba2";
}

.icon-spotify:before {
    content: "\eba3";
}

.icon-telegram:before {
    content: "\eba4";
}

.icon-twitter:before {
    content: "\eba5";
}

.icon-vine:before {
    content: "\eba6";
}

.icon-vk:before {
    content: "\eba7";
}

.icon-renren:before {
    content: "\eba8";
}

.icon-sina-weibo:before {
    content: "\eba9";
}

.icon-rss:before {
    content: "\ebaa";
}

.icon-rss2:before {
    content: "\ebab";
}

.icon-youtube:before {
    content: "\ebac";
}

.icon-youtube2:before {
    content: "\ebad";
}

.icon-twitch:before {
    content: "\ebae";
}

.icon-vimeo:before {
    content: "\ebaf";
}

.icon-vimeo2:before {
    content: "\ebb0";
}

.icon-lanyrd:before {
    content: "\ebb1";
}

.icon-flickr:before {
    content: "\ebb2";
}

.icon-flickr2:before {
    content: "\ebb3";
}

.icon-flickr3:before {
    content: "\ebb4";
}

.icon-flickr4:before {
    content: "\ebb5";
}

.icon-dribbble:before {
    content: "\ebb6";
}

.icon-behance:before {
    content: "\ebb7";
}

.icon-behance2:before {
    content: "\ebb8";
}

.icon-deviantart:before {
    content: "\ebb9";
}

.icon-500px:before {
    content: "\ebba";
}

.icon-steam:before {
    content: "\ebbb";
}

.icon-steam2:before {
    content: "\ebbc";
}

.icon-dropbox:before {
    content: "\ebbd";
}

.icon-onedrive:before {
    content: "\ebbe";
}

.icon-github:before {
    content: "\ebbf";
}

.icon-npm:before {
    content: "\ebc0";
}

.icon-basecamp:before {
    content: "\ebc1";
}

.icon-trello:before {
    content: "\ebc2";
}

.icon-wordpress:before {
    content: "\ebc3";
}

.icon-joomla:before {
    content: "\ebc4";
}

.icon-ello:before {
    content: "\ebc5";
}

.icon-blogger:before {
    content: "\ebc6";
}

.icon-blogger2:before {
    content: "\ebc7";
}

.icon-tumblr:before {
    content: "\ebc8";
}

.icon-tumblr2:before {
    content: "\ebc9";
}

.icon-yahoo:before {
    content: "\ebca";
}

.icon-yahoo2:before {
    content: "\ebcb";
}

.icon-tux:before {
    content: "\ebcc";
}

.icon-appleinc:before {
    content: "\ebcd";
}

.icon-finder:before {
    content: "\ebce";
}

.icon-android:before {
    content: "\ebcf";
}

.icon-windows:before {
    content: "\ebd0";
}

.icon-windows8:before {
    content: "\ebd1";
}

.icon-soundcloud:before {
    content: "\ebd2";
}

.icon-soundcloud2:before {
    content: "\ebd3";
}

.icon-skype:before {
    content: "\ebd4";
}

.icon-reddit:before {
    content: "\ebd5";
}

.icon-hackernews:before {
    content: "\ebd6";
}

.icon-wikipedia:before {
    content: "\ebd7";
}

.icon-linkedin:before {
    content: "\ebd8";
}

.icon-linkedin2:before {
    content: "\ebd9";
}

.icon-lastfm:before {
    content: "\ebda";
}

.icon-lastfm2:before {
    content: "\ebdb";
}

.icon-delicious:before {
    content: "\ebdc";
}

.icon-stumbleupon:before {
    content: "\ebdd";
}

.icon-stumbleupon2:before {
    content: "\ebde";
}

.icon-stackoverflow:before {
    content: "\ebdf";
}

.icon-pinterest:before {
    content: "\ebe0";
}

.icon-pinterest2:before {
    content: "\ebe1";
}

.icon-xing:before {
    content: "\ebe2";
}

.icon-xing2:before {
    content: "\ebe3";
}

.icon-flattr:before {
    content: "\ebe4";
}

.icon-foursquare:before {
    content: "\ebe5";
}

.icon-yelp:before {
    content: "\ebe6";
}

.icon-paypal:before {
    content: "\ebe7";
}

.icon-chrome:before {
    content: "\ebe8";
}

.icon-firefox:before {
    content: "\ebe9";
}

.icon-IE:before {
    content: "\ebea";
}

.icon-edge:before {
    content: "\ebeb";
}

.icon-safari:before {
    content: "\ebec";
}

.icon-opera:before {
    content: "\ebed";
}

.icon-file-pdf:before {
    content: "\ebee";
}

.icon-file-openoffice:before {
    content: "\ebef";
}

.icon-file-word:before {
    content: "\ebf0";
}

.icon-file-excel:before {
    content: "\ebf1";
}

.icon-libreoffice:before {
    content: "\ebf2";
}

.icon-html-five:before {
    content: "\ebf3";
}

.icon-html-five2:before {
    content: "\ebf4";
}

.icon-css3:before {
    content: "\ebf5";
}

.icon-git:before {
    content: "\ebf6";
}

.icon-codepen:before {
    content: "\ebf7";
}

.icon-svg:before {
    content: "\ebf8";
}

.icon-IcoMoon:before {
    content: "\ebf9";
}